/*-------------

Var & font 

-------------*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/*-------------

Page parameters

-------------*/
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #222222;
}

body h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #EFE9F4;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background-color: #222222;
}

/*-------------

Button

-------------*/
.containerpush {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 427px;
          perspective: 427px;
}

.containerpush .wrapperpush {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E9190F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateX(65deg) rotateY(0deg);
          transform: rotateX(65deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin-top: 250px;
  -webkit-box-shadow: 0px 12px 0px 0px #9c0f07, 5px 12px 34px 18px #000;
          box-shadow: 0px 12px 0px 0px #9c0f07, 5px 12px 34px 18px #000;
}

.containerpush .wrapperpush .textpush {
  position: relative;
  top: 35%;
}

.containerpush .wrapperpush .push {
  background: none;
  border: none;
  font-size: 3em;
  font-family: "Rubik", sans-serif;
  -webkit-animation: pushbutton 2s ease 0s infinite normal forwards;
          animation: pushbutton 2s ease 0s infinite normal forwards;
}

.containerpush .wrapperpush .push .push2 {
  text-decoration: none;
  color: #EFE9F4;
}

@-webkit-keyframes pushbutton {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes pushbutton {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/*-------------

ABOUT

-------------*/
.about {
  color: #EFE9F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.about .containerabout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .titleabout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.about .titleabout .titletony {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 3px;
  font-size: 2em;
  -webkit-animation: h1tony 2s ease-in-out 1ms 1 normal forwards;
          animation: h1tony 2s ease-in-out 1ms 1 normal forwards;
}

@-webkit-keyframes h1tony {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes h1tony {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.about .titleabout .titledescrip {
  letter-spacing: 2px;
  line-height: 2;
  word-spacing: 2;
  -webkit-animation: pdescirp 2s ease-in-out 1ms 1 normal forwards;
          animation: pdescirp 2s ease-in-out 1ms 1 normal forwards;
}

@-webkit-keyframes pdescirp {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes pdescirp {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*-------------

Work

-------------*/
.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  color: #EFE9F4;
}

.work .containerwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work .containerwork .titlework {
  margin: auto;
}

.work .containerwork .titlework .titleproject {
  letter-spacing: 3px;
}

/*-------------

Skills

-------------*/
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  color: #EFE9F4;
}

.skills .containerskills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .containerskills .titleskills {
  margin: auto;
}

.skills .containerskills .titleskills .titlecomp {
  letter-spacing: 3px;
}

/*-------------

Contact

-------------*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  color: #EFE9F4;
}

.contact .containercontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .containercontact .titlecontact {
  margin: auto;
}

.contact .containercontact .titlecontact .titleform {
  letter-spacing: 3px;
}
/*# sourceMappingURL=style.css.map */