/*-------------

Button

-------------*/

.containerpush{
    display: flex;

    .wrapperpush{
        justify-content: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: red;
        display: flex;

        .textpush{
            position: relative;
            top: 35%;
        }

        .push{
            background: none;
            border:none;
            color: white;
            font-size: 3em;
        }
    }

   


}