/*-------------
Var & font 
-------------*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

$background-color: #0c0113;
$button-color: #e9190f;
$textbut-color: #efe9f4;
$nav-color: #efe9f4;
$font-button: "Rubik", sans-serif;
$font-body: "Montserrat", sans-serif;
$font-h1: 'Pattaya', sans-serif;
$h1-size: 2em;

/*-------------
Page parameters
-------------*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
  background-color: $background-color;
  cursor: url("images/icones/cursor.png"), auto;

  h1 {
    font-family: $font-h1;
    font-size: $h1-size;
    color: $textbut-color;
    letter-spacing: 3px;
    font-weight: lighter;
  }

  section {
    scroll-snap-type: y mandatory;
    width: 100%;
  }

  input:hover,
  textarea:hover,
  button:hover,
  a:hover {
    cursor: url("images/icones/cursor.png"), auto;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #0c0113;
  border: 31px none #0c0113;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: $button-color;
}
::-webkit-scrollbar-thumb:active {
  background: $button-color;
}
::-webkit-scrollbar-track {
  background: #0c0113;
  border: 1px solid #0c0113;
  border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
  background: #f2f2f2;
}
::-webkit-scrollbar-track:active {
  background: #f5f5f5;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*-------------
ABOUT
-------------*/

.about {
  color: $textbut-color;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url(images/section1.svg);
  background-size: contain;

  .containerabout {
    display: flex;
  }
  .titleabout {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;

    .titletony {
      font-family: $font-h1;
      letter-spacing: 3px;
      animation: h1tony 2s ease-in-out 0s 1 normal forwards;
    }

    .pic {
      margin-top: 30px;
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 50%;
      background-image: url(images/moi.gif);
      background-size: cover;
      animation: pic 5s ease 0s 1 normal forwards;
    }

    @keyframes pic {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes h1tony {
      0% {
        opacity: 0;
        transform: translateX(-250px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .titledescrip {
      letter-spacing: 2px;
      line-height: 2;
      word-spacing: 2;
      animation: pdescirp 2s ease-in-out 0s 1 normal forwards;
    }

    @keyframes pdescirp {
      0% {
        opacity: 0;
        transform: translateX(250px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

/*-------------
Work
-------------*/

.work {
  text-align: center;
  background-image: url(images/section2.svg);
  background-size: contain;

  .containerwork {
    display: flex;
    justify-content: center;

    .titlework {
      margin: auto;

      .titleproject {
        letter-spacing: 3px;
        text-align: center;
      }
    }
  }
}

.containercard {
  display: flex;
  flex-wrap: wrap;

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
      text-align: center;
      color: $textbut-color;
      letter-spacing: 2px;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-right: 80px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 20px;
    border: 1px solid rgba(48, 6, 87, 0.205);
    width: 480px;
    overflow: auto;

    .movimg{
      display: flex;
      justify-content: center;
    }

    .imgwork {
      width: 300px;
      height: 198px;
      margin-bottom: 20px;
      text-align: center;
    }

    button {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(18px);
      -webkit-backdrop-filter: blur(18px);
      border-radius: 10px;
      height: 40px;
      border: none;
      margin-top: 40px;
      font: $font-h1;
      letter-spacing: 3px;
      font-size: 1.5em;
      color: $textbut-color;

    }

    a {
      text-decoration: none;
      color: $textbut-color;
      font-family: $font-h1;
      font-size: 1em;
    }

    button:hover {
      background-color: rgba(8, 214, 94, 0.678);
    }
  }
}

/*-------------
Skills
-------------*/

.skills {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url(images/section4.svg);
  background-size: contain;

  .containerskills {
    display: flex;
    justify-content: center;

    .titleskills {
      margin: auto;
      text-align: center;
      h1 {
        padding-bottom: 50px;
        letter-spacing: 3px;
      }

      .titlecomp {
        letter-spacing: 3px;
      }
      .imgskills {
        flex-wrap: wrap;
      }
      img {
        width: 150px;
        height: 150px;
        margin-left: 40px;
        opacity: 0.5;
      }

      img:hover {
        opacity: 0.9;
      }
    }
  }
}

/*-------------
Contact
-------------*/

.contact {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: $textbut-color;
  background-image: url(images/section3.svg);
  background-size: contain;

  .containercontact {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-right: 40px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 20px;
    height: 500px;
    width: 30%;
    position: relative;
    margin: auto;
    border: 1px solid rgba(48, 6, 87, 0.205);

    .titlecontact {
      margin: auto;
      letter-spacing: 3px;
    }
  }
}
form {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    background-color: transparent;
    color: $textbut-color;
    margin-top: 40px;
    border: none;
    border-bottom: $background-color 1px solid;
    font-family: $font-body;
    resize: none;
    width: 100%;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 10px;
    height: 40px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    font-family: $font-body;
    letter-spacing: 2px;
    font-size: 1.5em;
    color: $textbut-color;
  }

  button:hover {
    background-color: rgba(8, 214, 94, 0.678);
  }
}

.wrappersocial{
display: flex;
flex-direction: column;
position: fixed;
margin-top: 20px;
margin-left: 20px;

  .socialmedia{
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }

  .socialmedia:hover{
    opacity: 0.6;

  }

}

::placeholder{
  color: $textbut-color;
  font-size: 1.2em
}

.admin{
  margin-left: 20px;
  margin-bottom: 20px;
  background: rgba(235, 182, 10, 0.938);
  border:none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.lienadmin{
  text-decoration: none;
  color: $background-color;
  cursor: pointer;
  font-family: $font-h1;
  font-size: 1.1em;
}