/*-------------

Var & font 

-------------*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
/*-------------

Page parameters

-------------*/
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #0c0113;
  cursor: url("images/icones/cursor.png"), auto;
}

body h1 {
  font-family: "Lora", serif;
  font-size: 2em;
  color: #efe9f4;
  letter-spacing: 3px;
}

body section {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body input:hover,
body textarea:hover,
body button:hover,
body a:hover {
  cursor: url("images/icones/cursor.png"), auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #0c0113;
  border: 31px none #0c0113;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e9190f;
}

::-webkit-scrollbar-thumb:active {
  background: #e9190f;
}

::-webkit-scrollbar-track {
  background: #0c0113;
  border: 1px solid #0c0113;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background: #f2f2f2;
}

::-webkit-scrollbar-track:active {
  background: #f5f5f5;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*-------------

ABOUT

-------------*/
.about {
  color: #efe9f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-image: url(images/section1.svg);
  background-size: contain;
}

.about .containerabout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .titleabout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.about .titleabout .titletony {
  font-family: "Lora", serif;
  letter-spacing: 3px;
  font-size: 2em;
  -webkit-animation: h1tony 2s ease-in-out 0s 1 normal forwards;
          animation: h1tony 2s ease-in-out 0s 1 normal forwards;
}

.about .titleabout .pic {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background-image: url(images/moi.gif);
  background-size: cover;
  -webkit-animation: pic 5s ease 0s 1 normal forwards;
          animation: pic 5s ease 0s 1 normal forwards;
}

@-webkit-keyframes pic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes h1tony {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes h1tony {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.about .titleabout .titledescrip {
  letter-spacing: 2px;
  line-height: 2;
  word-spacing: 2;
  -webkit-animation: pdescirp 2s ease-in-out 0s 1 normal forwards;
          animation: pdescirp 2s ease-in-out 0s 1 normal forwards;
}

@-webkit-keyframes pdescirp {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes pdescirp {
  0% {
    opacity: 0;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*-------------

Work

-------------*/
.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-image: url(images/section2.svg);
  background-size: contain;
}

.work .containerwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work .containerwork .titlework {
  margin: auto;
}

.work .containerwork .titlework .titleproject {
  letter-spacing: 3px;
  text-align: center;
}

.containercard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containercard .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containercard .content p {
  text-align: center;
  color: #efe9f4;
  letter-spacing: 2px;
}

.containercard .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-right: 40px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 2000px;
  overflow: hidden;
}

.containercard .card .movimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containercard .card .imgwork {
  width: 300px;
  height: 198px;
  margin-bottom: 20px;
  text-align: center;
}

.containercard .card button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  height: 40px;
  border: none;
  margin-top: 40px;
  font: "Lora", serif;
  letter-spacing: 3px;
  font-size: 1.5em;
  color: #efe9f4;
}

.containercard .card a {
  text-decoration: none;
  color: #efe9f4;
  font-family: "Lora", serif;
  font-size: 1em;
}

.containercard .card button:hover {
  background-color: rgba(8, 214, 94, 0.678);
}

/*-------------

Skills

-------------*/
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-image: url(images/section4.svg);
  background-size: contain;
}

.skills .containerskills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .containerskills .titleskills {
  margin: auto;
  text-align: center;
}

.skills .containerskills .titleskills h1 {
  padding-bottom: 50px;
  letter-spacing: 3px;
}

.skills .containerskills .titleskills .titlecomp {
  letter-spacing: 3px;
}

.skills .containerskills .titleskills .imgskills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .containerskills .titleskills img {
  width: 150px;
  height: 150px;
  margin-left: 40px;
  opacity: 0.5;
}

.skills .containerskills .titleskills img:hover {
  opacity: 0.9;
}

/*-------------

Contact

-------------*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  color: #efe9f4;
  background-image: url(images/section3.svg);
  background-size: contain;
}

.contact .containercontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-right: 40px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  height: 500px;
  width: 30%;
  position: relative;
  margin: auto;
}

.contact .containercontact .titlecontact {
  margin: auto;
  letter-spacing: 3px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input,
form textarea {
  background-color: transparent;
  color: #efe9f4;
  margin-top: 40px;
  border: none;
  border-bottom: #0c0113 1px solid;
  font-family: "Montserrat", sans-serif;
  resize: none;
  width: 100%;
}

form input:focus,
form textarea:focus {
  outline: none;
}

form button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  height: 40px;
  border: none;
  margin-top: 40px;
  cursor: pointer;
  font-family: "Lora", serif;
  letter-spacing: 3px;
  font-size: 1.5em;
  color: #efe9f4;
}

form button:hover {
  background-color: rgba(8, 214, 94, 0.678);
}

@media screen and (max-width: 1081px) {
  .about,
  .skills,
  .work,
  .contact {
    background: none;
  }
}

@media screen and (max-width: 823px) {
  .imgskills img {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  .containercontact form {
    display: inline-block;
    text-align: center;
  }
  .containercontact form .titleform {
    font-size: 1em;
  }
  .containercontact input,
  .containercontact textarea {
    margin-top: 40px;
    width: 100%;
  }
}

.wrappersocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
}

.wrappersocial .socialmedia {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.wrappersocial .socialmedia:hover {
  -webkit-filter: brightness(147%);
          filter: brightness(147%);
}
/*# sourceMappingURL=style.css.map */